@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
.navbar
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #0E565D;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    z-index: 10;
}

.navbar .right
{
    margin-right: 3rem;
}
.navbar .left
{
    margin-left: 3rem;
}
.navbar .right .item, .navbar .left .item
{
    text-decoration: none;
    color: #FCF8D9;
}
.navbar .right .item
{
    margin: 0 0.5rem;
}
section
{
    display: flex;
    flex-direction: column;
}
.header
{
    position: relative;
}
.header img
{
    height: 100vh;
}
.header .body .joystick
{
    position: absolute;
    top: 10rem;
    right: 0;
    width: 50rem;
}
.header .body .text
{
    position: absolute;
    top: 12rem;
    left: 5rem;
}
.header .body .text h1
{
    width: 40rem;
    color: white;
    font-weight: 500;
    font-size: 76px;
    line-height: 86px;
}
.header .body .text p
{
    color: #FCF8D9;
    font-weight: 400;
    font-size: 30px;
    line-height: 46px;
    font-family: 'Roboto', sans-serif;
}
.play-now
{
    background-color: #272527;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20rem 2rem 0 2rem;
}
.play-now .image-wrap .image
{
    width: fit-content;
    position: relative;
    margin-right: 2rem;
}
.play-now .image-wrap .image .play
{
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}
pre {
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
.play-now .body h3
{
    color: white;
    font-style: normal;
    font-weight: 500;
    font-size: 76px;
    line-height: 86px;
}
.play-now .body pre
{
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 30px;
    line-height: 46px;
    color: #8BA5FF;
}
.background-2
{
    background: url(../image/background-landing-page-3.jpg);
}
.special-offers
{
    padding: 10rem 7rem 0 7rem;
}
.special-offers h3
{
    font-style: normal;
    font-weight: 500;
    font-size: 76px;
    line-height: 86px;
    color: #FFFFFF;
}
.special-offers .body
{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.special-offers .body .card .back
{
    width: 30rem;
    display: flex;
    flex-direction: row;
}
.special-offers .body .card
{
    position: relative;
    display: flex;
    justify-content: center;
}
.special-offers .body .card .body
{
    padding: 0.5rem;
    position: absolute;
    top: 0;
    right: 0;
}
.special-offers .body .card .body .text
{
    margin-left: 2rem;
    padding-top: 1rem;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 46px;
    color: #3A3A3A;
}
.special-offers .body .card .body .image
{
    height: 10rem;
}
.enjoy
{
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 15rem 4rem 10rem 0rem;
}
.enjoy .body h3
{
    font-style: normal;
    font-weight: 500;
    font-size: 76px;
    line-height: 86px;
    margin-bottom: 2rem;
    color: #FFFFFF;
}
.enjoy .body .subscribe
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2rem;
}
.enjoy .body .subscribe .email
{
    background: rgba(255, 255, 255, 0.08);
    border-radius: 5px;
    padding: 1rem;
    padding-right: 15rem;
    border: none;
}
.enjoy .body .subscribe .button
{
    background: #64BEB8;
    border-radius: 8px;
    padding: 1rem 2rem;
    border: none;
}
.enjoy .body .subscribe .button:hover
{
    background-color: transparent;
    color: #64BEB8;
    border: 1px #64BEB8 solid;
}
.footer
{
    padding: 0 5rem 3rem 5rem;
}
.footer hr
{
    opacity: 0.5;
    border: 0.873968px solid #FFFFFF;
}
.footer .part-1, .footer .part-2
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer .part-1
{
    margin-bottom: 2rem;
}
.footer .part-2
{
    margin-top: 2rem;
}
.footer .part-1 .left a
{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.footer .part-1 .left a, .footer .part-1 .right a
{
    text-decoration: none;
    color: white;
    margin-right: 2rem;
}
.footer .part-1 .right a:last-child
{
    margin-right: 0;
}
.footer .part-2 .left p
{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;  
    color: #FFFFFF;
    opacity: 0.5;
}
.footer .part-2 .right p
{
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-align: right;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.footer .part-2 .right p a
{
    text-decoration: none;
    color: white;
}